        .button {
            padding: 0.5%;
            margin-left: 0.4%;
            background-color: #c4308e;
            color: white;
            border: 1.5px solid #8d1160;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.3s;
            box-shadow: 0 5px 8px rgb(81, 77, 77);
        }
        
        .button1 {
            display: flex;
            flex-wrap: wrap;
            width: 330px;
            height: 270px;
            background-color: rgb(255, 255, 255);
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border: 3.5px solid #0e5f0a;
        }
        
        .button1 button {
            margin: 5px;
            padding: 5px 10px;
        }
        
        .button:hover {
            background-color: #8d1160f6;
            box-shadow: 0 5px 8px rgb(205, 11, 156);
        }